{% extends "layout.html" %} {% block page_content %} {% if siteInfo %}
<center>
    <h2>
        {{ siteInfo.welcome_info }}
    </h2>
</center>
{% endif %} {% if userinfo %} {% set user = userinfo.user %}
<center>
    <div class="row">
        <img src="/images/users/{{ user.user_id }}" alt="">
    </div>
    <div class="row">
        <label for="">姓名:</label> {{ user.name }}
    </div>
    <div class="row">
        <label for="">部门:</label> {{ user.department }}
    </div>
    <div class="row">
        <label for="">职务:</label> {{ user.duty }}
    </div>
    <div class="row">
        <label for="">权限</label>:</label> {% if user.admin == 2 %} 管理员 {% else %} 普通用户 {% endif %}
    </div>
    <div class="row">
        <label for="">电话号码</label> {{ user.phone_number}}
    </div>
</center>
{% endif %} {% endblock %}