{% extends "bootstrap/base.html" %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> {% endblock %} {% block title %} {{ title }} {% endblock %} {% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message }}
    </div>
    {% endfor %}

    <ui class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li>
            <button class="btn btn-default">
            <a href="{{ url_for('logout') }}">注销</a>
            </button>
        </li>
        {% else %}
        <li>
            <button class="btn btn-default">
            <a href="{{ url_for('login') }}">登录</a>
            </button>
        </li>
        {% endif %}
    </ui>
</div>
<div class="container-fulid">
    {% block page_content %} {% endblock %}
    <div class="center-block copyinfo">
        &copy; 2017 {% if siteInfo %} {{ siteInfo.copyright_info }} {% endif %}
    </div>
</div>
{% endblock %}