{% extends "layout.html" %} {% block page_content %} {% if info.found %}
<div class="container">
    <div class="row center-block">
        <img width="480" height="480" src="/images/tools/{{ info.tool_id }}">

        <div class="col-ms-4">
            <label for="">工具名称</label> {{ info.name }}
        </div>
        <div class="col-ms-4">
            <label for="">型号</label>{{ info.model }}
        </div>
        <div class="col-ms-4">
            <label for="">定制号:</label> {{ info.position }}
        </div>
        <div class="col-ms-4">
            <label for="">类别:</label> {{ info.category }}
        </div>
        <div class="col-ms-4">
            <label for="">状态</label> {% if info.status == 1 %} 在库 {% elif info.status == 2 %} 审批中 {% elif info.status ==
            3 %} 借出 {% elif info.status == 4 %} 送检中 {% else %} 未知状态 {% endif %}
        </div>

        {% if info.need_check %}
        <div class="col-ms-4">
            <label for="">上次定检时间</label> {{ info.last_check_date }}
        </div>
        <div class="col-ms-4">
            <label for="">定检周期</label> {{ info.check_period }} 月
        </div>
        {% endif %}

        <div class="col-ms-4">
            <label for="">厂家</label> {{ info.vendor }}
        </div>
        <div class="col-ms-4">
            <label for="">使用局</label> {{ info.use_bureau }}
        </div>
        <div class="col-ms-4">
            <label for="">使用部门</label> {{ info.use_department }}
        </div>

        <div class="col-ms-4">
            <label for="">使用班组</label> {{ info.use_shift }}
        </div>

        <div class="col-ms-4">
            <label for="">使用人</label> {{ info.user }}
        </div>

        <div class="col-ms-4">
            <label for="">备注</label> {{ info.remarks }}
        </div>

        {% if info.status == 1 %}
        <!-- 在库 -->
        <form action="{{ url_for('borrow_request', tool = info.tool_id, user = current_user.get_id())}}" method="post">
            <input type="submit" value="申请借出" class="btn btn-lg btn-primary form-control">
        </form>
        <form action="{{ url_for('send_to_check', tool=info.tool_id) }}" method="post">
            <input type="submit" value="送检" class="btn btn-lg btn-primary form-control">
        </form>
        {% elif info.status == 2 %}
        <!-- 审批中 -->
        {% if current_user.admin == 2 %}
        <form action="{{ url_for('approve_borrow', tool=info.tool_id)}}" method="post">
            <input type="submit" value="批准借出" class="btn btn-lg btn-primary form-control">
        </form>
        <form action="{{ url_for('deny_borrow', tool=info.tool_id)}}" method="post">
            <input type="submit" value="拒绝借出" class="btn btn-lg btn-primary form-control">
        </form>
        {% else %}
            <h3>借出审批中，请等待管理员审批</h3>
        {% endif %}
        {% elif info.status == 3 %}
        <!-- 借出中 -->
        <form action="{{ url_for('return_request', tool=info.tool_id)}}" method="post">
            <input type="submit" value="申请归还" class="btn btn-lg btn-primary form-control">
        </form>
        {% elif info.status == 4 %}
        <!-- 归还审批中 -->
        {% if current_user.admin == 2 %}
        <form action="{{ url_for('approve_return', tool=info.tool_id)}}" method="post">
            <input type="submit" value="批准归还" class="btn btn-lg btn-primary form-control">
        </form>
        <form action="{{ url_for('deny_return', tool=info.tool_id)}}" method="post">
            <input type="submit" value="拒绝归还" class="btn btn-lg btn-primary form-control">
        </form>
        {% else %}
            <h3>归还审批中， 请等待管理员审批</h3>
        {% endif %}
        {% elif info.status == 5 %}
        <form action="{{url_for('check_finished', tool=info.tool_id) }}" method="post">
            <input type="submit" value="定检结束 入库" class="btn btn-lg btn-primary form-control">
        </form>
        {% endif %}
    </div>
</div>

{% else %}
<center>
    <h2>未找到该工具的信息!</h2>
    <form action="" class="center-block">
        <input type="text" class="form-control">
    </form>
</center>
{% endif %} {% endblock %}