{% extends  "layout.html" %}

{% block page_content %}
<div class="container">
        {% for user_info in user_infos %}
        <div class="row">
            <img src="/images/users/{{ user_info.user_id }}">
            <label for="">用户名:</label>
            {{ user_info.name }}
            <label for="">部门:</label>
            {{ user_info.department }}
            <label for="">职务:</label>
            {{ user_info.duty }}
            <label for="">是否管理员:</label>
            {{ user_info.admin }}
            <label for="">电话号码</label>
            {{ user_info.phone_number}}
        </div>
        {% endfor %}
</div>
{% endblock %}